.form-container {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  color: black;
  padding: 1rem;
}

.form-control {
  border-radius: 0.25rem;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

label {
  font-weight: 500;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.form-size {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.taxi-main {
  margin-top: 2rem;
}

@media (min-width: 576px) {
  .form-size {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .form-size {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .form-size {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .form-size {
      max-width: 1140px;
  }
}
