body{
    background-color: whitesmoke;
}:root {
    --background-color-light: #fff;
    --background-color-dark: black;
    --text-color-light: #000;
    --text-color-dark: #fff;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

[data-theme='dark'] {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}
